@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}

html {
  letter-spacing: .1em;
  line-height: 1
}

ol, ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

q, blockquote {
  quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
  content: '';
  content: none
}

a img {
  border: 0
}

.post-content a[target="_blank"]::after {
  font-family: 'FontAwesome';
  content: '\f08e';
  font-size: 0.9em;
  margin: 0 3px 0 2px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

* {
  box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden] {
  display: none
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  overflow-x: hidden
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  overflow-wrap: break-word;
  word-break: normal
}

a {
  cursor: pointer;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s
}

a:focus, a:active, a:hover {
  outline: 0
}

* {
  box-sizing: border-box
}

.clear {
  clear: both
}

.clearfix {
  *zoom: 1
}

.clearfix:before {
  display: inline-table
}

.clearfix:after {
  content: '';
  display: block;
  clear: both
}

.post-content h1 {
  font-size: 36px;
  margin: 36px 0;
  clear: both
}

.post-content h2 {
  font-size: 28px;
  margin: 2em 0 1em;
  clear: both
}

.post-content h3 {
  font-size: 24px;
  margin: 2em 0 1em
}

.post-content h4 {
  font-size: 18px;
  margin: 2em 0 1em
}

.post-content h5 {
  font-size: 16px;
  margin: 2em 0 1em
}

.post-content h6 {
  font-size: 14px;
  margin: 2em 0 1em
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: bold
}

blockquote {
  clear: both;
}

blockquote cite {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
  color: #808080
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

p, pre {
  margin: 0 0 2em
}

code, kbd, pre, samp {
  font-size: 1em;
  overflow-x: scroll
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p, #header ul, #side h1, #side h2, #side h3, #side h4, #side h5, #side h6, #side p, #side ul, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer p, #footer ul, nav h1, nav h2, nav h3, nav h4, nav h5, nav h6, nav p, nav ul {
  font-weight: normal;
  margin: 0
}

dl, menu, ol, ul {
  margin: 0 0 2em
}

dd {
  margin: 0 0 0 20px
}

menu, ol, ul {
  padding: 0 0 0 20px;
  list-style: none
}

menu ol, menu ul, ol ol, ol ul, ul ol, ul ul {
  margin: 0
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none
}

.inline-list li {
  display: inline-block
}

#header ul, #header ol, #side ul, #side ol, #footer ul, #footer ol {
  list-style: none;
  margin: 0;
  padding: 0
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 0
}

form {
  margin: 0
}

fieldset {
  border: 1px solid #e5e5e5;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle
}

button, input {
  line-height: normal
}

button, html input[type='button'], input[type='reset'], input[type='submit'], .btn {
  cursor: pointer;
  *overflow: visible;
  -webkit-appearance: none
}

button[disabled], input[disabled] {
  cursor: default
}

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px
}

input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: border-box
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  vertical-align: top
}

form input[type='text'], form input[type='email'], form input[type='url'], form input[type='tel'], form input[type='number'], form input[type='date'], form textarea {
  border-radius: 3px;
  padding: 8px 13px;
  max-width: 100%;
  border: 1px #ccc solid;
  outline: 0;
  box-sizing: border-box
}

form textarea {
  width: 80%
}

form input[type='submit'], form button {
  padding: 12px 20px;
  border: 0
}

form input[type='submit']:hover, form button:hover {
  cursor: pointer
}

#searchform {
  overflow: hidden;
  background: #fff;
  border: 1px solid #e5e5e5;
  padding-bottom: 0;
  border-radius: 2px
}

#searchform div {
  position: relative;
  padding-right: 40px
}

#searchform label {
  display: none
}

#searchform input[type=text] {
  line-height: 18px;
  padding: 8px 13px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  float: left
}

#searchform button {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: top;
  line-height: 18px;
  border: 0;
  border-radius: 3px;
  width: 40px;
  padding: 8px 5px;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  background: transparent;
  font-family: 'FontAwesome';
  font-size: 21px;
  color: #808080
}

#searchform button:hover {
  cursor: pointer
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e5e5e5
}

th, td {
  border: 1px solid #e5e5e5;
  padding: 8px 13px
}

.pa30 {
  padding-top: 30px
}

@media screen and (max-width:767px) {
  h1 {
    font-size: 22px;
    margin: 36px 0;
    clear: both
  }
  h2 {
    clear: both
  }
  h3, h4, h5, h6 {
    font-size: 16px;
    margin: 2em 0 1em
  }
}

.link-btn {
  display: block;
  margin: 0 auto 1.6em;
  padding: 10px 45px;
  width: fit-content;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  color: #fff!important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.alignright {
  float: right;
  margin-left: 12px;
  margin-bottom: 12px
}

.alignleft {
  float: left;
  margin-right: 12px;
  margin-bottom: 12px
}

.aligncenter {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.post-title {
  font-size: 32px;
  line-height: 1.5;
  margin: 0 0 36px
}

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 10px;
  max-width: 100%;
  box-sizing: border-box;
  -khtml-border-radius: 3px;
  border-radius: 3px
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0
}

.inline {
  display: inline-block;
  vertical-align: bottom;
}

.row {
  *zoom: 1
}

.row:before {
  display: inline-table
}

.row:after {
  content: '';
  display: block;
  clear: both
}

.gr1, .gr2, .gr3, .gr4, .gr5, .gr6, .gr7, .gr8, .gr9, .gr10, .gr11, .gr12, .gld-sub, .gld-main, .gr1-5 {
  float: left;
  box-sizing: border-box
}

.gr1 {
  width: 8.33%
}

.gr2 {
  width: 16.66%
}

.gr3 {
  width: 25%
}

.gr4 {
  width: 33.33%
}

.gr5 {
  width: 41.66%
}

.gr6 {
  width: 50%
}

.gr7 {
  width: 58.33%
}

.gr8 {
  width: 66.66%
}

.gr9 {
  width: 75%
}

.gr10 {
  width: 83.33%
}

.gr11 {
  width: 91.33%
}

.gr12 {
  width: 100%
}

.gr1-5 {
  width: 20%
}

.gld-sub {
  width: 37.31%
}

.gld-main {
  width: 62.68%
}

@media screen and (max-width:1200px) {
  .gr1.lt-flat, .gr2.lt-flat, .gr3.lt-flat, .gr4.lt-flat, .gr5.lt-flat, .gr6.lt-flat, .gr7.lt-flat, .gr8.lt-flat, .gr9.lt-flat, .gr10.lt-flat, .gr11.lt-flat, .gr12.lt-flat, .gld-sub.lt-flat, .gld-main.lt-flat, .gr1-5.lt-flat {
    width: 100%!important
  }
}

@media(min-width:992px) and (max-width:1200px) {
  .gr1-lt {
    width: 8.33%!important
  }
  .gr2-lt {
    width: 16.66%!important
  }
  .gr3-lt {
    width: 25%!important
  }
  .gr4-lt {
    width: 33.33%!important
  }
  .gr5-lt {
    width: 41.66%!important
  }
  .gr6-lt {
    width: 50%!important
  }
  .gr7-lt {
    width: 58.33%!important
  }
  .gr8-lt {
    width: 66.66%!important
  }
  .gr9-lt {
    width: 75%!important
  }
  .gr10-lt {
    width: 83.33%!important
  }
  .gr11-lt {
    width: 91.33%!important
  }
  .gr12-lt {
    width: 100%!important
  }
  .gr1-5-lt {
    width: 20%!important
  }
  .gld-sub-lt {
    width: 37.31%!important
  }
  .gld-main-lt {
    width: 62.68%!important
  }
}

@media screen and (max-width:991px) {
  .gr1.tb-flat, .gr2.tb-flat, .gr3.tb-flat, .gr4.tb-flat, .gr5.tb-flat, .gr6.tb-flat, .gr7.tb-flat, .gr8.tb-flat, .gr9.tb-flat, .gr10.tb-flat, .gr11.tb-flat, .gr12.tb-flat, .gld-sub.tb-flat, .gld-main.tb-flat, .gr1-5.tb-flat {
    width: 100%!important
  }
  .gr1-tb {
    width: 8.33%!important
  }
  .gr2-tb {
    width: 16.66%!important
  }
  .gr3-tb {
    width: 25%!important
  }
  .gr4-tb {
    width: 33.33%!important
  }
  .gr5-tb {
    width: 41.66%!important
  }
  .gr6-tb {
    width: 50%!important
  }
  .gr7-tb {
    width: 58.33%!important
  }
  .gr8-tb {
    width: 66.66%!important
  }
  .gr9-tb {
    width: 75%!important
  }
  .gr10-tb {
    width: 83.33%!important
  }
  .gr11-tb {
    width: 91.33%!important
  }
  .gr12-tb {
    width: 100%!important
  }
  .gr1-5-tb {
    width: 20%!important
  }
  .gld-sub-tb {
    width: 37.31%!important
  }
  .gld-main-tb {
    width: 62.68%!important
  }
}

@media(min-width:768px) and (max-width:991px) {
  .gr1-tb {
    width: 8.33%!important
  }
  .gr2-tb {
    width: 16.66%!important
  }
  .gr3-tb {
    width: 25%!important
  }
  .gr4-tb {
    width: 33.33%!important
  }
  .gr5-tb {
    width: 41.66%!important
  }
  .gr6-tb {
    width: 50%!important
  }
  .gr7-tb {
    width: 58.33%!important
  }
  .gr8-tb {
    width: 66.66%!important
  }
  .gr9-tb {
    width: 75%!important
  }
  .gr10-tb {
    width: 83.33%!important
  }
  .gr11-tb {
    width: 91.33%!important
  }
  .gr12-tb {
    width: 100%!important
  }
  .gr1-5-tb {
    width: 20%!important
  }
  .gld-sub-tb {
    width: 37.31%!important
  }
  .gld-main-tb {
    width: 62.68%!important
  }
}

@media screen and (max-width:767px) {
  .gr1, .gr2, .gr3, .gr4, .gr5, .gr6, .gr7, .gr8, .gr9, .gr10, .gr11, .gr12, .gr1-5, .gld-sub, .gld-main {
    width: 100%
  }
  .gr1-sp {
    width: 8.33%!important
  }
  .gr2-sp {
    width: 16.66%!important
  }
  .gr3-sp {
    width: 25%!important
  }
  .gr4-sp {
    width: 33.33%!important
  }
  .gr5-sp {
    width: 41.66%!important
  }
  .gr6-sp {
    width: 50%!important
  }
  .gr7-sp {
    width: 58.33%!important
  }
  .gr8-sp {
    width: 66.66%!important
  }
  .gr9-sp {
    width: 75%!important
  }
  .gr10-sp {
    width: 83.33%!important
  }
  .gr11-sp {
    width: 91.33%!important
  }
  .gr12-sp {
    width: 100%!important
  }
  .gr1-5-sp {
    width: 20%!important
  }
  .gld-sub-sp {
    width: 37.31%!important
  }
  .gld-main-sp {
    width: 62.68%!important
  }
}